{% extends 'administrador/bases/base_admin.html' %}
{% block 'seo_header' %}
<title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
<meta http-equiv="Content-Language" content="es-MX">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
<meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}
{% block css %}
<!-- Starts to include CSS list -->
{% for css in css_list %}
{% include 'core/includes/css/'|add:css|add:'.htm' %}
{% endfor %}
<!-- Ends to include CSS list -->    
{% load static %}
<style>
   /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
   #map {
   height: 100%;
   }        
</style>
<link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
{% endblock css %}-*
{% block 'content' %}
{% load static %}
<div class="app-page-title">
   <div class="page-title-wrapper">
      <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fas fa-truck-loading size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>Tipo de Movimientos &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Editar Tipo Movimientos
                <div class="admin-page-title-subheading">
                    Editar Tipo de Movimientos
                </div>
            </div>
        </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
               <nav class="" aria-label="admin breadcrumb">
                  <ol class="admin breadcrumb pull-right">
                     <li class="breadcrumb-item">
                        <a>
                        <i aria-hidden="true" class="fa fa-home"></i>
                        </a>
                     </li>
                     <li class="breadcrumb-item">
                        <a> D & D Management </a>
                     </li>
                     <li class="breadcrumb-item">
                        <a href="{% url 'administrador:admin_movimiento_listado' %}"> Movimientos</a>
                     </li>
                     <li class="active breadcrumb-item" aria-current="page">
                        Editar Tipo de Movimiento
                     </li>
                  </ol>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="tabs-animation">
   <div class="row" >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
         <div class="mb-3 card">
            <div class="card-body">
               <div class="row">                  
                  <div class="col-sm-12 col-md-12 col-lg-12">
                     <div class="lista-usuarios-card">
                        <div class="container-fluid">
                           <div class="form-heading">Registro Tipo de Movimiento</div>                           
                           <!-- form start -->
                           <form  id="frm-actualizar" role="form" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="container-fluid">
                                 <div class="row">
                                       <div class="col-xs-12 col-md-12 col-lg-4">
                                           
                                          {% if messages %}
                                                {% for message in messages %}
                                                   <div class="alert alert-{{ message.tags }}" role="alert">
                                                      {{ message }}
                                                   </div>
                                                {% endfor %}
                                          {% endif %}   

                                          <div class="form-group">
                                             <label>Nombre</label>
                                             <input data-validation="length" data-validation-length="3-30" type="text" id="nombre" name="nombre" class="form-control mostrar" placeholder="Introduzca un Nombre"  data-validation="required">
                                          </div>

                                          <div class="form-group">
                                             <label>Descripción</label>
                                             <input data-validation="length" data-validation-length="3-30" type="text" id="descripcion" name="descripcion" class="form-control mostrar" placeholder="Introduzca una Descripción"   data-validation="required">
                                          </div>                        
                                       
                                          <div class="row">
                                             <div class="col-md-12">  
                                                <button class="user-panel-button btn-icon-vertical btn-transition btn btn-outline-primary" id="btn-confirmar" type="text" title="Guarde los cambios realizados"><i class="fas fa-save btn-icon-wrapper"></i> </i><span>Crear Tipo de Movimiento</span></button>
                                             </div>                                             
                                          </div>
                                          <!-- Magic button here -->
                                          <button style="display: none;" id="btn-submit" type="text">Submit</button>    
                                          <!-- Magic button end -->
                                       </div>
                                 </div>

                                 <!-- Contenido para modal -->
                                 <div style="display: none;">
                                    <!-- Titulo -->
                                    <div id="inTitulo"><span id="customTitulo">Confirmar datos para registro de Movimiento</span></div>
                                    <!-- Descripción -->
                                    <div id="inDescripción"><p  id="customDescripción">Resúmen de los datos para actualizar en registro de Movimiento</p></div>
                                    <!-- Cuerpo -->
                                    <div id="inDatos"><p  id="customDatos">Cuerpo de datos aqui</p></div>
                                 </div>
                                 <!-- Contenido para modal fin -->
                              </div>
                              <!-- /.box-body -->
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
{% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}
<script>
   jQuery(document).ready(function() {

      // Al cargar la página cargar lo siguiente
      var cargo_init = jQuery("[data-init-role]").val();

      jQuery('#grupos').on('change', function() {
         seleccionadosGrupos = jQuery("#grupos option:selected").length;
         totalGrupos = jQuery("#grupos option").length;
         if ( seleccionadosGrupos == totalGrupos  ) {
            jQuery('#role option').show();
         } else {
            jQuery("#grupos option:selected").each(function() {
               console.log (  jQuery(this).attr("data-grupo-id") );
               var elSeleccionado =  jQuery(this).attr("data-grupo-id");
               jQuery('#role option[data-role-cliente-id !='+elSeleccionado+']').hide();
               jQuery('#role option[data-role-cliente-id ='+elSeleccionado+']').show();
            });
         } // fin de if
      }); 
      // Fin de carga inicial

      // Validación de forma
      jQuery.validate({
         lang: 'es',
         borderColorOnError : '#9D292A',
         addValidClassOnAll : true,
         modules : 'security, file', 
      });     

      // Muestra los roles según los grupos de usuarios seleccionados
      jQuery('#grupos').on('change', function() {
         seleccionadosGrupos = jQuery("#grupos option:selected").length;
         totalGrupos = jQuery("#grupos option").length;
         if ( seleccionadosGrupos == totalGrupos  ) {
            jQuery('#role option').show();
         } else {            
            jQuery("#grupos option:selected").each(function() {
               var elSeleccionado =  jQuery(this).attr('data-grupo-id');
               jQuery('#role option[data-role-cliente-id !='+elSeleccionado+']').hide();
               jQuery('#role option[data-role-cliente-id ='+elSeleccionado+']').show();
            });
         } // fin de if
      }); 

      function getDataFromMultiple(cElem) {
         var ctemp = '';
         if ($(cElem).hasClass("selector")) {
            var elemId = $(cElem).attr("id");
            ctemp = $('#' + elemId + ' option:selected').toArray().map(item => item.text).join();
            if (ctemp.includes('Seleccione')) {
               textoInputSelector = 'Sin opción escogida';               
            } else {
               textoInputSelector = ctemp;
            }            
         } else if ($(cElem).is(':checkbox')) {
            textoInputSelector = $(cElem). prop("checked") == 'on' ? 'SI':'NO';          
         } else if ($(cElem).is(':radio')) {
            console.log ( $(cElem).attr('name') )
            var nameElem = $(cElem).attr('name');            
            textoInputSelector = $("input[name='"+nameElem+"']:checked").val() == 1 ? 'SI':'NO'; 
         } else {
               textoInputSelector = $(cElem).val();
         }
         return textoInputSelector;
      }

      jQuery("#btn-confirmar").on("click", function(event){
         event.preventDefault();        

         if( ( jQuery('#password_confirma').val() == "" || jQuery('#password').val() == "" ) && !( jQuery('#password_confirma').val() == "" && jQuery('#password').val() == "" ) ) {         
            alert('Llene el campo contraseña y el de confirmar contraseña, o bien, deje ambos en blanco por favor.'); 
         } else {
            jQuery('p#customDatos').html('');
            jQuery('#modalDatos').html('');
            // Inserción de contenido en elementos de modal
            jQuery("#modalTitulo").html( jQuery("#inTitulo").html() );
            jQuery("#modalDescripcion").html( jQuery("#inDescripción").html() );
            jQuery("#modalDatos").html( jQuery("#inDatos").html() );
            jQuery("#mi-modal").modal('show');           

            // get all the inputs into an array.        
            var $inputs = $('#frm-actualizar :input');
            var values = {};
            var cTitulo,  cValor, cData = '';
            
            $inputs.each(function() {
               if ($(this).hasClass("mostrar")) {

                  if ( $(this).is(':radio')) {
                     cTitulo = $('label[for="'+ $(this).attr('name') + '"]').text();
                  } else {
                     cTitulo = $(this).parent().find('label').text();
                  }
                  cValor =  getDataFromMultiple( $(this) );
                  cData = cData + '<li class="fList"><span class="fTitulo">' + cTitulo + ':</span> ' + cValor + '</li>';
                  values[this.name] = $(this).val();               
               }
            });
            jQuery('p#customDatos').append('<ul>'+ cData + '</ul>');
            //console.log (values);
         } // fin de verificar campo password y Confirmación

      });    
      
      jQuery("#btn-enviar").on("click", function(event){         
         console.log ('Realizando submit de forma');            
         jQuery("#btn-submit").trigger('click');
         jQuery("#btn-cerrar").trigger('click');
      });    
      
      // Muestra las unidades de negocio según el cliente seleccionado
      jQuery('#cliente').on('change', function() {
         clienteSeleccionado = jQuery("#cliente").val();   

         if ( clienteSeleccionado != 0 ) {
            jQuery("#planta option").each(function() {               
               var elSeleccionado =  jQuery(this).val();
               
               if (  jQuery(this).attr('data-cliente-id') == clienteSeleccionado) {
                  jQuery(this).show();
               } else {
                  jQuery(this).hide();
               }            
            });         
         } else {
            jQuery('[name="planta"]').val('0').change();
             jQuery("#planta option").show();
         }        
      }); 

        var today = moment().format('MM/DD/YYYY');
        $('input[name="date_joined"]').val(today);
        $('#date_joined').attr("data-date", moment( $('#date_joined').val() ).format("YYYY-MM-DD HH:mm") );

        $("#date_joined").on("change", function() {        
            $('#date_joined_real').attr("data-date", moment( $('#date_joined').val() ).format("YYYY-MM-DD HH:mm") );
            $('#date_joined_real').val( moment( $('#date_joined').val() ).format("YYYY-MM-DD HH:mm") );
        }).trigger("change")

        $('input[name="date_joined"]').datepicker({
            format: 'mm/dd/yyyy',
            language: 'es'
        });

   });
</script>
<!-- Ends to include JS list -->
{% endblock js %}