{% extends 'administrador/bases/base_admin.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
        }         
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fa fa-map-marker size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>MAPA DE CALOR &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Mapa de Calor
                <div class="admin-page-title-subheading">
                   Mapa
                </div>
            </div>
        </div>   
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <nav class="" aria-label="admin breadcrumb">
                        <ol class="admin breadcrumb pull-right">
                            <li class="breadcrumb-item">
                                <a>
                                    <i aria-hidden="true" class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a> Zona 0</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>Mapa de Calor</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                                Mapa de Calor con Unidades de Negocio
                            </li>
                        </ol>
                    </nav>              
                </div>
            </div>        
        </div>                                 
    </div>
</div>                                
    
<div class="row" >
    <div class="col-md-12 col-lg-12 col-xl-12">
    <!-- <div class="col-md-12 col-lg-12 col-xl-12"> -->
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    <i class="fa fa-map-marker icon-gradient bgp-naranja size20"> </i>&nbsp;&nbsp;
                    Mapa de calor
                </div>
                 
            </div>
            <div id="floating-panel" style='margin-left:20px; margin-top:15px;'>
                <button onclick="changeGradient()" class="mb-2 mr-2 btn btn-primary size14 mayus" >Cambio de color</button>
                <button onclick="changeRadius()" class="mb-2 mr-2 btn btn-primary size14 mayus">Cambio de radio</button>
            </div>
            <div class="card-body">                                                
                <div id='mapacalor' style='width: 100%; height: 850px;'>
                </div>
            </div>  
        </div>
    </div>         
</div> <!-- Row -->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        
        <div class="popupCustom">
            <div class="buHeader">                
            </div>
            <div class="infoUBH5_Wrapper" data-click="ceo_global{{ plantaSlug }}" onclick="location.href=\'' + plantaSlug + '\'">
                <img src="{% static "core/assets/images/yazaki/yazaki-marker.png" %}"/>
                <h5 class="infoUBH5">' + pnombre.toUpperCase() + '</h5>
                <span class="small">{{ planta.direccion }}, {{ planta.ciudad }}, {{ planta.estado }}, {{ planta.pais }} </span>
            </div><br>
            <div class="row infoContent">
                <div class="col-md-6">
                    <p><b>Nivel de Seguridad:</b>' + estado_planta + '</p>
                    <p><b>Incidentes logísticos</b></p>
                    <hr/>
                    <p>
                        <b style="color: black;">PREDICTIVE ANALYTICS - COBERTURA</b><br/>
                        <img src="{% static "core/assets/images/red-gauge.png" %}"/>
                        <span class="txtCobertura">' + nivelCobertura + '% </span>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="scroll_wrapper">
                        <div class="scroll_content"> 
                            <p><b>Seguridad Electrónica</b>: 84.17%</p>
                            <p>Falla eléctrica total en planta G3783-Yak5 por explosión de estación de gasolina.</p>
                            <p>La planta {{ planta.nombre }} quedó en un 75% afectada por razones de tormentas eléctricas y vientos fuertes en la ciudad, debido a que se dio una alerta roja desde el gobierno mexicano.<br/>Se tiene un estimado de varias horas antes de que la tormenta y los vientos fuertes se retiren.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- popupCustom -->

    </div> <!-- col -->
</div> <!-- Row -->>

{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}
<script>
    
  $(document).ready(function() {

    
    $('input[name="dates"]').daterangepicker(
      {
        "timePicker": true,
        startDate: moment().subtract(2, 'months').format("MM-DD-YYYY"),
        endDate: moment().add('1', 'day').format("MM-DD-YYYY"),
        ranges: {
          'Hoy': [moment(), moment()],
          'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Últimos 7 días': [moment().subtract(6, 'days'), moment()],
          'Últimos 30 días': [moment().subtract(29, 'days'), moment()],
          'Este mes': [moment().startOf('month'), moment().endOf('month')],
          'Último mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        "locale": {            
            "applyLabel": "Aplicar",
            "cancelLabel": "Cancelar",
            "fromLabel": "Desde",
            "toLabel": "Hasta",
            "customRangeLabel": "Personalizar",
            "daysOfWeek": [
                "Do",
                "Lu",
                "Ma",
                "Mi",
                "Ju",
                "Vi",
                "Sa"
            ],
            "monthNames": [
                "Enero",
                "Febrero",
                "Marzo",
                "Abril",
                "Mayo",
                "Junio",
                "Julio",
                "Agosto",
                "Setiembre",
                "Octubre",
                "Noviembre",
                "Diciembre"
            ]
         
        }
      },
      function(start, end) {    
        //console.log(start + " - " + end);
        if ($('#planta').val() != "") {
          //loadRondinReport();                             
        } else {
          alert('Seleccione la Unidad de Negocio / Cliente primero por favor.');
        }
      }
    );    
  
  });
  </script>
</script>
<!-- Ends to include JS list -->
{% endblock js %}