{% extends 'administrador/bases/base_admin.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        #barChart{
            background-color: white;
            border-radius: 6px;
          }          
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fas fa-chart-bar size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>D&D Management &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Movimientos
                <div class="admin-page-title-subheading">
                   Historial de Movimientos
                </div>
            </div>
        </div> 

        <div class="page-title-actions">
            <nav class="" aria-label="admin breadcrumb">
                <ol class="admin breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a>
                            <i aria-hidden="true" class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>D&D Management</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'administrador:admin_movimientos_lista' %}">Movimientos</a>
                    </li>
                    <li class="active breadcrumb-item" aria-current="page">
                        Historial de movimientos
                    </li>
                </ol>
            </nav>     
        </div> <!-- Page title actions -->

    </div> <!-- Page Title Wrapper -->
</div>  <!-- app page title -->

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    Movimientos
                </div>                                                        
            </div>
            {% if acceso == True %}
            <div class="card-body"> 
                        
                <hr>
                <a href="{%  url 'administrador:admin_movimientos_crear' %}" class="btn btn-primary size16">Crear Movimiento</a>
                <hr>
                <br>
                <!--  Data Table Start -->
                <table id="tbl-movimientos" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Estatus</th>      
                            <th>Nombre</th>                               
                            <th class="text-center" style="text-align: center;">¿Incidente?</th>                                                                 
                            <th>Vehículo</th>
                            <th>Órígen</th>
                            <th>Destino</th>                                    
                            <th>ETA</th>
                            <th>ETA Google</th>                                                    
                            <th>Fecha Terminado</th>                                                    
                            <th>Transportista</th>                                                                        
                            <th>Remolque</th>                                                                        
                            <th>Tipo</th>                                                                        
                            <th>Valor de Carga</th>                                                                        
                            <th>Peso</th>
                            <th>GLS</th>
                            <th>LTS</th>
                            <th>Puente</th>
                            <th>Peaje</th>
                            <th>En Ruta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mov in movimientos %}  <!--model_list -->
                        <tr>
                            <td class="mayus estado-{% if mov.estatus == 'Medio' %}medio{% elif mov.estatus == 'Relevante' %}relevante{% elif mov.estatus == 'Finalizado' %}finalizado{% else %}normal{% endif %}" data-estatus="{{mov.estatus}}"> {{ mov.estatus }}</td>                                    
                            <td title="{{ mov }}"><div class="truncate-tel">{{ mov.nombre|default_if_none:mov }}</div></td>
                            <td class="bgp-color-azul text-center" style="text-align: center;">{{ mov.get_tipo_incidente_display }}</td>                                                                
                            <td title="{{ mov.vehiculo }}">{{ mov.vehiculo|default_if_none:"Sin Asignar"|truncatechars:"14"|upper }}</td>
                            <td>{{ mov.origen|truncatechars:"20" }}</td>
                            <td>{{ mov.destino|truncatechars:"20" }}</td>                                    
                            <td>{{ mov.tiempo_estimado|default_if_none:"" }}</td>
                            <td>{{ mov.tiempo_estimado_google|default_if_none:"Sin Asignar"|upper }}</td>
                            <td class="bgp-color-azul">{{ mov.fecha_fin|date:"SHORT_DATE_FORMAT" }} <b>{{ mov.fecha_fin|time:"H:i" }}</b></td>
                            <td>{{ mov.emp_transp|default_if_none:"Sin Asignar"|upper }}</td>                                                                        
                            <td>{{ mov.remolque|default_if_none:"" }}</td>
                            <td>{{ mov.tipo_movimiento|default_if_none:"" }}</td>
                            <td>{{ mov.valor_carga|default_if_none:"" }}</td>
                            <td>{{ mov.peso|default_if_none:"" }}</td>                                    
                            <td>{{ mov.gls|default_if_none:"" }}</td>
                            <td>{{ mov.lts|default_if_none:"" }}</td>
                            <td>{{ mov.puente|yesno:"Si,No" }}</td>
                            <td>{{ mov.peaje|default_if_none:"" }}</td>               
                            <td>{{ mov.sobreruta|yesno:"Si,No" }}</td>                     
                            <td> 
                                <a href="{% url 'administrador:admin_movimientos_detalle' mov.id %}" title="Ver registro" class="btnsInDataTable btn-transition border-0 btn btn-outline-primary text-center"><i class="fas fa-eye size16"></i></a>
                                <a href="{% url 'administrador:admin_movimientos_update' mov.id %}" title="Editar registro" class="btnsInDataTable btn-transition border-0 btn btn-outline-secondary text-center"><i class="fas fa-edit size16"></i></a>
                                <a href="{% url 'administrador:admin_movimientos_delete' mov.id %}" title="Borrar registro" class="btnsInDataTable btn-transition border-0 btn btn-outline-danger text-center" onclick="return confirm('¿Est&aacute; seguro de borrar el registro?')"><i class="fas fa-trash-alt size16  bgp-color-rojo"></i></a>                            
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>                          
                    <tfoot>
                        <tr>   
                            <th>Estatus</th>
                            <th>Nombre</th>                               
                            <th>¿Incidente?</th>                                                                 
                            <th>Vehículo</th>
                            <th>Órígen</th>
                            <th>Destino</th>                                    
                            <th>ETA</th>  
                            <th>ETA Google</th>              
                            <th>Fecha Terminado</th>                                                    
                            <th>Transportista</th>                                                                        
                            <th>Remolque</th>                                                                        
                            <th>Tipo</th>                                                                        
                            <th>Valor de Carga</th>                                                                        
                            <th>Peso</th>
                            <th>GLS</th>
                            <th>LTS</th>
                            <th>Puente</th>
                            <th>Peaje</th>
                            <th>En Ruta</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>        
                <!-- Data Table End -->
                
            </div>  
            {% else %}
            <div class="card-body">
                <div class="alert alert-danger fade show" role="alert">Lo sentimos no tiene acceso</div>
            </div>
            {% endif %}
        </div>
    </div> 
</div> 


{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}

<script>
    $(document).ready(function() {
        // DataTable
        $('#tbl-movimientos').DataTable({                   
            "pageLength":  10,  
           "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
           },       
           "ordering": false           
        });    

        $(".freeze").bind("click", false);
    });
</script>
<!-- Ends to include JS list -->
{% endblock js %}