{% extends 'administrador/bases/base_admin.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        #barChart{
            background-color: white;
            border-radius: 6px;
          }          
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fas fa-chart-bar size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>PREDICTIVE ANALYTICS &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Ausentismo
                <div class="admin-page-title-subheading">
                   Historial de Faltas
                </div>
            </div>
        </div> 

        <div class="page-title-actions" style="min-width: 580px;">

            <div class="input-group">                
              
              <select id="cliente" name="cliente" class="form-control mostrar selector clienteSel" style="min-width: 144px;" data-validation="required">
              {% for cliente in clientes.all %}                                                   
                      <option value="{{ cliente.id }}">{{ cliente }}</option>
              {% endfor %}
              </select>            
              &emsp;
              <select name="planta" id="planta" style="width: 96px;" class="form-control mostrar selector" data-validation="required">
                {% for planta in plantas.all %}
                    <option value="{{ planta.id }}" data-cliente-id="{{ planta.cliente_id }}" >{{ planta }}</option>
                {% endfor %}
              </select>
              &emsp;
              <input name="dates" required="required" class="form-control" style="width: 58px;">                      
              &emsp;            
  
            </div>   
        </div> 

    </div> <!-- Page Title Wrapper -->
</div>  <!-- app page title -->

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    Historial de Faltas
                </div>                                                        
            </div>
            <div class="card-body">     
                {% if  messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                <div class="row">
                    <div class="col-md-12"> 
                        <hr>
                        <a href="{%  url 'administrador:admin_falta_create' %}" class="btn btn-primary size16">Agregar un Nuevo Registro</a>
                        <hr>
                        <br>
                        <!--  Data Table Start -->
                        <table id="tbl-historial" class="table table-striped table-bordered dt-responsive nowrap2"  style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Turno</th>                                                           
                                    <th>Unidad de Negocio</th>
                                    <th>Cliente</th>
                                    <th>Nombre</th>
                                    <th>Motivo</th>                                                       
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for falta in faltas %}  <!--model_list -->
                                <tr>
                                    <td>{{ falta.fecha|date:'Y-m-d' }}</td>
                                    <td>{{ falta.turno }}</td>
                                    <td>{{ falta.planta|default_if_none:"SIN REGISTRAR" }}</td> 
                                    <td>{{ falta.cliente|default_if_none:"SIN REGISTRAR" }}</td> 
                                    <td>{{ falta.nombre }}</td>
                                    <td>{{ falta.motivo }}</td>                                      
                                    <td> 
                                        <a href="{% url 'administrador:admin_falta_edit' falta.id %}" title="Editar" class="btnsInDataTable btn-transition border-0 btn btn-outline-primary text-center"><i class="fas fa-edit size16"></i></a>
                                        <a href=" {% url 'administrador:admin_falta_delete' falta.id %}" class="btnsInDataTable btn-transition border-0 btn btn-outline-warning text-center"> <i class="fas fa-trash-alt size16  bgp-color-rojo"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>                          
                            <tfoot>
                                <tr>   
                                    <th>Fecha</th>
                                    <th>Turno</th>
                                    <th>Unidad de Negocio</th>
                                    <th>Cliente</th>
                                    <th>Nombre</th>
                                    <th>Motivo</th>                                                                       
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>        
                        <!-- Data Table End -->
                    </div>
                </div>
                <br><br>
                
            </div>  
        </div>
    </div> 
</div> 


{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}


    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function() {

        $(".freeze").bind("click", false);

        // DataTable
        $('#tbl-historial').DataTable({       
            "order": [[ 0, "asc" ]],
            "pageLength":  10,  
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'Tabla faltas'
            },
            {
                extend: 'pdfHtml5',
                title: 'Tabla faltas'
            }], 
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
            },          
        });    
    });
</script>
<!-- Ends to include JS list -->
{% endblock js %}