{% extends 'administrador/bases/base_admin.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
        }        
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fa fa-bar-chart-o size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>PREDICTIVE ANALYTICS &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Incidentes de servicio
                <div class="admin-page-title-subheading">
                   Detalle
                </div>
            </div>
        </div> 
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <nav class="" aria-label="admin breadcrumb">
                        <ol class="admin breadcrumb pull-right">
                            <li class="breadcrumb-item">
                                <a>
                                    <i aria-hidden="true" class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a> Predictive Analytics</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a> Incidentes de servicio</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                                Detalle
                            </li>
                        </ol>
                    </nav>              
                </div>
            </div>        
        </div>        
    </div>
</div>                                

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <div class="mb-3 card">
            
            
        </div>
    </div> 
</div> 

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fa fa-list-alt" aria-hidden="true"></i>
                    Detalle
                </div>                                                        
            </div>
            <div class="card-body">     
                {% if  messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}                                               
                
                <b>Planta: </b>{{incidente.planta}}<br>
                <b>Fecha: </b>{{incidente.fecha}}<br>
                <b>Guardia: </b>{{incidente.guardia}}<br>
                <br>
                <b>Nota</b><br>
                {{incidente.nota}}<br>
                <b>Evidencia</b><br>
                {% if incidente.evidencia %}<a href="{{incidente.evidencia.url}}" target="evidencia">
                                {% if '.jpg' in incidente.evidencia.name or '.png' in incidente.evidencia.name %}
                                    <img src="{{incidente.evidencia.url}}" height="200px">
                                {% else %}
                                    {{incidente.evidencia.name}}
                                {% endif %}
                            </a>
                {% else %}
                    No se agrego evidencia
                {% endif %}<br>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <b>Status: <b>
                    <select name="status">
                        <option value="abierto" {% if incidente.status == "abierto" %} selected="" {% endif %} >Abierto</option>
                        <option value="revision" {% if incidente.status == "revision" %} selected="" {% endif %} >Revision</option>
                        <option value="progreso" {% if incidente.status == "progreso" %} selected="" {% endif %} >Progreso</option>
                        <option value="cerrado" {% if incidente.status == "cerrado" %} selected="" {% endif %} >Cerrado</option>
                    </select><br>
                    <b>Acciones realizadas</b><br>
                    <textarea name="acciones_tomadas">{{incidente.acciones_tomadas}}</textarea>
                    <br>
                    <button type="submit"  class="btn btn-success">Actualizar estado</button>
                </form>

                
                
            </div>  
        </div>
    </div> 
</div> 


{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}

<!-- Ends to include JS list -->
{% endblock js %}