{% extends 'administrador/bases/base_admin.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        #barChart{
            background-color: white;
            border-radius: 6px;
          }          
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fas fa-chart-bar size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>ANÁLISIS DE RIESGO &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Registro de Visitantes
                <div class="admin-page-title-subheading">
                   Ver Registro de Visitantes
                </div>
            </div>
        </div> 

        <div class="page-title-actions">
            <nav class="" aria-label="admin breadcrumb">
                <ol class="admin breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a>
                            <i aria-hidden="true" class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a> Análisis de Riesgo</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'administrador:visitantes_list' %}">Registro de Visitantes</a>
                    </li>
                    <li class="active breadcrumb-item" aria-current="page">
                        Ver Registro de Visitantes
                    </li>
                </ol>
            </nav>     
        </div> <!-- Page title actions -->

    </div> <!-- Page Title Wrapper -->
</div>  <!-- app page title -->

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    Ver Visitante
                </div>                                                        
            </div>
            <div class="card-body">       
                <hr>
                <a href="{%  url 'administrador:visitantes_list' %}" class="btn btn-primary size16">Volver a Historial de Visitantes</a>
                <a href="{%  url 'administrador:visitantes_create' %}" class="btn btn-success size16">Agregar Nuevo Registro</a>
                <hr>
                <br>         
                <div class="row mt-3 mb-5">
                    <div class="col-md-9 mx-auto"> 
                        <form id="paqueteria_detail_form">
                            <div class="position-relative form-group">
                                <label for="planta" class="">Planta</label>
                                <input name="planta" id="planta" type="text" class="form-control" readonly value="{{ object.planta|default_if_none:"SIN REGISTRAR" }}">
                            </div>  

                            <div class="position-relative form-group">
                                <label for="tipo" class="">Tipo</label>
                                <input name="tipo" id="tipo" type="text" class="form-control" readonly value="{{ object.tipo|upper }}">
                            </div>  

                            <div class="position-relative form-group">
                                <label for="nombre" class="">Nombre</label>
                                <input name="nombre" id="nombre" type="text" class="form-control" readonly value="{{ object.nombre }}">
                            </div>  

                            <div class="position-relative form-group">
                                <label for="empresa" class="">Empresa</label>
                                <input name="empresa" id="empresa" type="text" class="form-control" readonly value="{{ object.empresa }}">
                            </div>

                            <div class="position-relative form-group">
                                <label for="anfitrion" class="">Anfitrion</label>
                                <input name="anfitrion" id="anfitrion" type="text" class="form-control" readonly value="{{ object.anfitrion }}">
                            </div>

                            <div class="position-relative form-group">
                                <label for="confirmo_anfitrion" class="">Confirmo Anfitrión</label>
                                <input name="confirmo_anfitrion" id="confirmo_anfitrion" type="text" class="form-control" readonly value="{{ object.confirmo_anfitrion }}">
                            </div>

                            <div class="position-relative form-group">
                                <label for="identificacion" class="">Identificación</label>
                                <input name="identificacion" id="identificacion" type="text" class="form-control" readonly value="{{ object.identificacion }}">
                            </div>

                            <div class="position-relative form-group">
                                <label for="gafete" class="">Gafete</label>
                                <input name="gafete" id="gafete" type="text" class="form-control" readonly value="{{ object.gafete }}">
                            </div> 

                             <div class="position-relative form-group">
                                <label for="placas" class="">Placas</label>
                                <input name="placas" id="placas" type="text" class="form-control" readonly value="{{ object.placas }}">
                            </div> 

                            <div class="position-relative form-group">
                                <label for="entrada" class="">Entrada</label>
                                <input name="entrada" id="entrada" type="text" class="form-control" readonly value="{{ object.entrada }}">
                            </div> 

                            <div class="position-relative form-group">
                                <label for="salida" class="">Salida</label>
                                <input name="salida" id="salida" type="text" class="form-control" readonly value="{{ object.salida }}">
                            </div>

                        </form>   
                    </div>
                </div>                
            </div>  
        </div>
    </div> 
</div> 


{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}

<script>
    jQuery(document).ready(function() {
        // No hay nada que ejecutar
    });
</script>
<!-- Ends to include JS list -->
{% endblock js %}