{% extends 'core/bases/base_pages.html' %}

{% block 'seo_header' %}
    <title>Panoptic | {{ userdict.page_name | upper }} - {{ userdict.tipousuario | upper }} | Global</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
        }        
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <img src="{% static 'core/assets/images/mini-logo-panoptic.png' %}" alt="Logo de Panoptic">                                    
            </div>
            <div>Panel de Control <button class="mb-2 mr-2 btn btn-light tipousuario">{{ userdict.tipousuario }}<span class="badge badge-success badge-dot badge-dot-lg"> </span></button>
                <div class="page-title-subheading">
                    Los siguientes módulos están a su disposición; puede utilizar el menú izquierdo para cualquier opción en particular. ***
                </div>
            </div>
        </div>                                 
    </div>
</div>                                

<div class="tabs-animation">
    
    <div class="row google" >
        <!-- <div class="col-md-6 col-lg-6 col-xl-7"> -->
        <div class="col-md-12 col-lg-6 col-xl-8">
            <div class="mb-3 card">
                <div class="card-header-tab card-header-tab-animation card-header">
                    <div class="card-header-title">
                        <i class="header-icon lnr-apartment icon-gradient bgp-naranja"> </i>
                        Índice Delincuencial 
                    </div>
                    
                    <div class="a-derecha">  
                    <!-- Boton Ubicaciones Críticas -->
                    <div id="ubicacionesCriticas" class="d-inline-block dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn bgp-btn-rojo">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-business-time fa-w-20"></i>
                            </span>
                            Plantas Relevantes
                        </button>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            <ul id="addCritical" class="nav flex-column">  
                            </ul>
                        </div>
                    </div> 
                    <!-- Boton Ubicaciones -->
                    <div class="d-inline-block dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-primary">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-business-time fa-w-20"></i>
                            </span>
                            Ir a Ubicación
                        </button>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" onclick="goUbicacion('global')">
                                        <i class="nav-link-icon lnr-map-marker"></i>
                                        <span>
                                            Global
                                        </span>                                
                                    </a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link" onclick="goUbicacion('usa_east')">
                                        <i class="nav-link-icon lnr-map-marker"></i>
                                        <span>
                                            USA EAST
                                        </span>                                
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="goUbicacion('la')">
                                        <i class="nav-link-icon lnr-map-marker"></i>
                                        <span>
                                            América LA
                                        </span>                                
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="goUbicacion('juarez')">
                                        <i class="nav-link-icon lnr-map-marker"></i>
                                        <span>
                                            Ciudad Ju&aacute;rez
                                        </span>                                
                                    </a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link" onclick="goUbicacion('benitojuarez')">
                                        <i class="nav-link-icon lnr-map-marker"></i>
                                        <span>
                                            Benito Ju&aacute;rez
                                        </span>                                
                                    </a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link" onclick="goUbicacion('europa')">
                                        <i class="nav-link-icon lnr-map-marker"></i>
                                        <span>
                                            EUROPA
                                        </span>                                
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="goUbicacion('asia')">
                                        <i class="nav-link-icon lnr-map-marker"></i>
                                        <span>
                                            ASIA
                                        </span>                                
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="goUbicacion('oceania')">
                                        <i class="nav-link-icon lnr-map-marker"></i>
                                        <span>
                                            OCEANÍA
                                        </span>                                
                                    </a>
                                </li>
                                <li class="nav-item hidden">
                                    <a class="nav-link" onclick="goUbicacion('ua')">
                                        <i class="nav-link-icon lnr-map-marker"></i>
                                        <span>
                                            Ubicación Actual
                                        </span>                                
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Lista de funciones de mapa -->
                    <div class="d-inline-block dropdown">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-warning">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-business-time fa-w-20"></i>
                                </span>
                                Funciones de Mapa
                            </button>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right listaAncho23rem">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="toggleHeatmap()">
                                            <i class="nav-link-icon lnr-inbox"></i>
                                            <span>
                                                <b>Área de Calor</b> Mostrar/Ocultar
                                            </span>                                
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="changeMarkers()">
                                            <i class="nav-link-icon lnr-book"></i>
                                            <span>
                                                <b>Índices Delincuenciales</b> Mostrar/Ocultar 
                                            </span>                                
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="changeRadius()">
                                            <i class="nav-link-icon lnr-book"></i>
                                            <span>
                                                <b>Cambiar radio de linea</b>
                                            </span>                                
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="changeOpacity()">
                                            <i class="nav-link-icon lnr-book"></i>
                                            <span>
                                                <b>Transparencia de Área de Calor</b>
                                            </span>                                
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-inline-block pr-3">
                            <select id="custom-inp-top" type="select" class="custom-select">
                                <option>Periodo...</option>
                                <option>Últimos 3 meses</option>
                                <option>En el último mes</option>                                        
                                <option selected>En los últimos 7 días</option>
                                <option>Últimas 24 hrs.</option>
                            </select>
                        </div>
                        <div class="d-inline-block pr-3">                            
                            <a href="/vice_master/modulo_general" id="btnIconoModulo" title="Ver vista Modular"></a>
                        </div>

                    </div>   


                </div>
                <div class="card-body">                                                
                    <div id='map' style='width: 100%; height: 974px;'>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="mb-3 text-white card-border bg-dark card">
                <div class="card-header"><i class="header-icon pe-7s-note2 bgp-color-amarillo-intenso"> </i>Alertas externas (Política, Ambiental. Sociales, Tecnológicas…)
                </div>
                <!-- Carga dinamica de lista de incidentes -->
                <div class="card-body">
                    <ul id="lista_incidentes" class="list-group list-group-flush">
                        
                        {% for q in incidentes11 %}                               

                            <li class="list-group-item bg-dark">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                        {% if q.nivel == 1 %}
                                            <img width="42" class="rounded" src="{% static 'core/assets/images/blue-arrow.png' %}" alt="">
                                        {% elif q.nivel == 2 %}
                                            <img width="42" class="rounded" src="{% static 'core/assets/images/red-arrow.png' %}" alt="">
                                        {% endif %}
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">{{ q.desc }}</div>
                                            <div class="widget-subheading">{{ q.ciudad }} | {{ q.fecha }} | {{ q.hora }} AM</div>
                                        </div>
                                        <div class="widget-content-right">
                                        {% if q.nivel == 1 %}
                                            <a href="{{ q.url_noticia }}" type="button" target="_target" class="mb-1 mr-1 btn btn-primary">VER <span class="badge badge-pill badge-light">URL</span></a>    
                                        {% elif q.nivel == 2 %}
                                            <a href="{{ q.url_noticia }}" type="button" target="_target" class="mb-1 mr-1 btn btn-danger">VER <span class="badge badge-pill badge-light">URL</span></a>    
                                        {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </li> 

                        {% endfor %}                         

                    </lu>
                </div>

                <div class="d-block text-right card-footer">
                    <button class="mr-2 text-white btn btn-link btn-sm btn-primary">Administrar Alertas</button>
                    <button class="btn  btn-link btn-sm btn-warning btn-lg">Acciones</button>
                </div>
            </div>
        </div>
    </div> 
</div>                    
{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}
<!-- Ends to include JS list -->
{% endblock js %}