{% extends 'core/bases/base_pages.html' %}

{% block 'seo_header' %}
    <title>Sistema Panoptic - Rondines: Punto</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->
{% endblock css %}

{% block 'content' %}
    <a href="{% url 'analytics:detail_rondin' pk %}" class="btn btn-primary">Volver</a>   
    <h2>Nuevo Punto</h2>
    <main role="main">
        <div class="container">
            <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                <div>
                    <form id="punto_form" action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <input type="submit" class="btn btn-primary" value="Guardar Punto" />
                    </form>
                </div>
            </div>
            </div>
        </div>
    </main>                
{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}


<!-- Ends to include JS list -->
{% endblock js%}