{% extends 'core/bases/base_pages.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        #barChart{
            background-color: white;
            border-radius: 6px;
          }          
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title escondido">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fas fa-boxes size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>ANÁLISIS DE RIESGO &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Registro de Recibo de Almacén
                <div class="admin-page-title-subheading">
                   Ver Registro de Recibo de Almacén
                </div>
            </div>
        </div> 

        <div class="page-title-actions">
            <nav class="" aria-label="admin breadcrumb">
                <ol class="admin breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a>
                            <i aria-hidden="true" class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a> Análisis de Riesgo</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'administrador:admin_recibo_almacen_index' %}">Registro de Recibo de Almacén</a>
                    </li>
                    <li class="active breadcrumb-item" aria-current="page">
                        Ver Registro de Recibo de Almacén
                    </li>
                </ol>
            </nav>     
        </div> <!-- Page title actions -->

    </div> <!-- Page Title Wrapper -->
</div>  <!-- app page title -->

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    Informaci&oacute;n de Recibo de Almacén
                </div>                                                        
            </div>
            <div class="card-body">       
                <div class="row mt-3 mb-5">
                    <div class="col-md-12 mx-auto"> 
                        <!--  Data Table Start -->
                        <table id="tbl-recibo" class="table table-striped table-bordered dt-responsive nowrap2"  style="width: 100%">
                            <thead>
                                <tr>
                                    <th># de Empleado</th>
                                    <th>Empleado</th>                                    
                                    <th>Fecha</th>
                                    <th>Departamento</th>
                                    <th>Jefe</th>                                    
                                    <th>Turno</th>
                                    <th>Planta</th>
                                    <th>Usuario Aguilas</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                <tr>
                                    <td>{{ recibos.no_emp|default_if_none:"SIN REGISTRAR" }}</td> 
                                    <td>{{ recibos.empleado|upper }}</td>
                                    <td>{{ recibos.fecha }}</td>
                                    <td>{{ recibos.departamento }}</td>
                                    <td>{{ recibos.jefe }}</td>
                                    <td>{{ recibos.turno}}</td>
                                    <td>{{ recibos.planta }}</td>
                                    <td>{{ recibos.user_aguilas }}</td>                                    
                                </tr>                                
                            </tbody>                          
                            <tfoot>
                                <tr>   
                                    <th># de Empleado</th>
                                    <th>Empleado</th>                                    
                                    <th>Fecha</th>
                                    <th>Departamento</th>
                                    <th>Jefe</th>                                    
                                    <th>Turno</th>
                                    <th>Planta</th>
                                    <th>Usuario Aguilas</th>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div>
                    
                </div>                
            </div>
        </div> 
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    Informaci&oacute;n de Materiales
                </div>                                                        
            </div>
            <div class="card-body">       
                <div class="row mt-3 mb-5">                    
                    <div class="col-md-12 mx-auto">
                        <!--  Data Table Start -->
                        <table id="tbl-items" class="table table-striped table-bordered dt-responsive nowrap2"  style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Cantidad</th>
                                    <th>Tipo</th>
                                    <th>Descripción</th>
                                    <th># de Parte</th>
                                    <th>Origen</th>
                                    <th>Destino</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>  
                                {% for recibo_item in recibos_items|dictsort:"id" reversed %}                              
                                <tr>
                                    <td>{{ recibo_item.cantidad|default_if_none:"SIN REGISTRAR" }}</td> 
                                    <td>{{ recibo_item.unidad|upper|default_if_none:"SIN REGISTRAR" }}</td>
                                    <td>{{ recibo_item.desc|default_if_none:"SIN REGISTRAR" }}</td>
                                    <td>{{ recibo_item.noparte|default_if_none:"SIN REGISTRAR" }}</td>
                                    <td>{{ recibo_item.origen|default_if_none:"SIN REGISTRAR" }}</td>
                                    <td>{{ recibo_item.destino|default_if_none:"SIN REGISTRAR" }}</td>
                                    <td>{{ recibo_item.fecha|default_if_none:"SIN REGISTRAR" }}</td>
                                </tr>  
                                {% endfor %}                              
                            </tbody>                          
                            <tfoot>
                                <tr>   
                                    <th>Cantidad</th>
                                    <th>Tipo</th>
                                    <th>Descripción</th>
                                    <th># de Parte</th>
                                    <th>Origen</th>
                                    <th>Destino</th>
                                    <th>Fecha</th>
                                </tr>                                    
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>                
            </div>
        </div> 
    </div>
</div>


{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}

<script>
    $(document).ready(function() {
        // DataTable
        $('#tbl-recibo').DataTable({       
            "order": [[ 0, "asc" ]],
            "pageLength":  10,  
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
           },          
        }); 

        $('#tbl-items').DataTable({       
            "order": [[ 0, "asc" ]],
            "pageLength":  10,  
           "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
           },          
        });  

        
    });
</script>
<!-- Ends to include JS list -->
{% endblock js %}