{% extends 'core/bases/base_pages.html' %}

{% block 'seo_header' %}
    <title>Sistema Panoptic - Rondín hecho</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->
{% endblock css %}

{% load render_table from django_tables2 %}
{% block 'content' %}
    <a href="{% url 'analytics:rondines_dashboard' %}" class="btn btn-primary">Volver a dashboard de rondines</a>   

    <main role="main">
        <div class="container">
            <div>
                <h2>{{rondinhecho.rondin.nombre}}</h2>
                <p><b>Cliente:</b> {{rondinhecho.rondin.cliente}}</p>
                <p><b>Planta:</b> {{rondinhecho.rondin.planta}}</p>
                <p><b>Guardia:</b> {{rondinhecho.guardia}}</p>
                <p><b>Hora de inicio:</b> {{rondinhecho.hora_inicio}}</p>
                <p><b>Hora de fin:</b> {{rondinhecho.hora_fin}}</p>
            </div>
            <hr>
            <h3>Puntos <span class="badge badge-info">{{rondinhecho.puntohecho_set.count}}</span></h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puntohecho in rondinhecho.puntohecho_set.all %}
                    <tr>
                        <td>{{puntohecho.punto.nombre}}</td>
                        <td>{{puntohecho.hora_inicio}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <h3>Evidencias <span class="badge badge-warning">{{rondinhecho.evidenciapunto_set.count}}</span></h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Punto</th>
                        <th>Evidencia</th>
						<th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evidencia in rondinhecho.evidenciapunto_set.all %}
                    <tr>
                        <td>{{evidencia.punto.nombre}}</td>
                        <td>
							{% if evidencia.evidencia %}
								<a href="/media/{{evidencia.evidencia}}" data-fancybox="" data-caption="EVIDENCIA" class="avatar-icon-wrap    per btn-hover-shine">
                                   <div class="avatar-icon rounded">
                                       {% if '.mp4' in evidencia.evidencia.url  %}
                                           <img src="http://panoptic.iottechnologies.mx/static/core/assets/images/video.png" alt="Evidencia">
                                       {% else %}
                                           <img src="/media/{{evidencia.evidencia}}" alt="Evidencia">
                                       {% endif %}
                                   </div>
                               </a>
							{% else %}
								SIN FOTO
							{% endif %}
                        </td>
						<td>{{evidencia.nota|default:"SIN NOTA"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>

        </div>
    </main>                
{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}
<!-- Ends to include JS list -->
{% endblock js%}
