{% extends 'core/bases/base_pages.html' %}

{% block 'seo_header' %}
    <title>Sistema Panoptic - Rondines</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->
{% endblock css %}

{% block 'content' %}
    <a href="{% url 'analytics:list_rondines' %}" class="btn btn-primary">Volver a lista de rondines</a>   
    <h2>Nuevo Rondin</h2>
    <main role="main">
        <div class="container">
            <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                <div>
                    <form id="rondin_form" action="" method="post" data-plantas-url="{% url 'analytics:ajax_load_plantas_options' %}">
                        {% csrf_token %}
                            {{ form.as_p }}
                        <br>
                        <input type="submit" class="btn btn-primary" value="Guardar Rondin" />
                    </form>
                </div>
            </div>
            </div>
        </div>
    </main>                
{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}
<script>
    $("#id_cliente").change(function () {
        var url = $("#rondin_form").attr("data-plantas-url");  // get the url of the `load_cities` view
        var clienteId = $(this).val();  // get the selected country ID from the HTML input
    
        $.get({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'cliente': clienteId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_planta").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });
</script>

<!-- Ends to include JS list -->
{% endblock js%}