{% extends 'administrador/bases/base_admin.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fas fa-chart-bar size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>D&D MANAGEMENT &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Dispositivos GPS
                <div class="admin-page-title-subheading">
                   Registro de Dispositivo GPS
                </div>
            </div>
        </div> 

        <div class="page-title-actions">
            <nav class="" aria-label="admin breadcrumb">
                <ol class="admin breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a>
                            <i aria-hidden="true" class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>D&D Management</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{%  url 'administrador:gpsdevices_list' %}"> Dispositivos GPS</a>
                    </li>
                    <li class="active breadcrumb-item" aria-current="page">
                        Registro de Dispositivo GPS
                    </li>
                </ol>
            </nav>     
        </div> <!-- Page title actions -->

    </div> <!-- Page Title Wrapper -->
</div>  <!-- app page title -->

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    Registro de Dispositivo GPS
                </div>                                                        
            </div>
            <div class="card-body">                     
                <div class="row mt-3 mb-5">
                    <div class="col-md-9 mx-auto"> 
                        <form data-h="{% if request.user.role.alias_rol == 'super' %}tower{% else %}player{% endif %}" method="post">
                            {% csrf_token %}                
                            {{ form.as_p }}                
                            <div class="text-left">
                                <input type="submit" class="btn-transition btn btn-primary size16" value="Crear Registro de Dispositivo GPS" />
                            </div>
                        </form>   
                    </div>
                </div>
            </div>  
        </div>
    </div> 
</div> 
{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}

<script>
    jQuery(document).ready(function() {
        $(document).ready(function() {
            // Takes present value in FECHA field
            var fecha = $('#id_fecha').val();
            // Change of html portion for DATETIMEPICKER
            $('input[name="fecha"]').parent().html('<div class="form-group"><div class="input-group date" id="datetimepicker1" data-target-input="nearest"><label style="width: 100%;"for="id_fecha">Hora de Entrada:</label><input type="text" name="fecha" id="id_fecha" class="form-control datetimepicker-input" data-target="#datetimepicker1"><input type="hidden" name="initial-fecha" id="initial-id_fecha"><div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker"><div class="input-group-text"><i class="fa fa-calendar"></i></div></div></div></div>' );
            // Binding of DATETIMEPIKER  to  wrap 
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                defaultDate: new Date()
            });				
            // Reassigning values for DATETIMEPICKER input wrap
            $('#id_fecha').val(fecha);
            $('#initial-id_fecha').val(fecha);
            // List C
            if ( $('form').attr('data-h') == 'player' ) {
                $('select#id_cliente').val({{cliente_user.id}});
                //$('select#id_cliente').attr('disabled', 'disabled');
                $('select#id_cliente').closest( "p" ).css('display', 'none');             
            }
        });
    });
</script>
<!-- Ends to include JS list -->
{% endblock js %}