{% extends 'administrador/bases/base_admin.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        #barChart{
            background-color: white;
            border-radius: 6px;
          }          
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fas fa-chart-bar size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>D&D MANAGEMENT &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Registro de Dispositivo GPS
                <div class="admin-page-title-subheading">
                   Ver Registro de Dispositivo GPS
                </div>
            </div>
        </div> 

        <div class="page-title-actions">
            <nav class="" aria-label="admin breadcrumb">
                <ol class="admin breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a>
                            <i aria-hidden="true" class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a> D&D Management</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'administrador:gpsdevices_list' %}">Registro de Dispositivo GPS</a>
                    </li>
                    <li class="active breadcrumb-item" aria-current="page">
                        Ver Registro de Dispositivo GPS
                    </li>
                </ol>
            </nav>     
        </div> <!-- Page title actions -->

    </div> <!-- Page Title Wrapper -->
</div>  <!-- app page title -->

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    Ver Registro de Dispositivo GPS
                </div>                                                        
            </div>
            <div class="card-body">       
                <hr>
                <a href="{%  url 'administrador:gpsdevices_list' %}" class="btn btn-primary size16">Volver a Listado de Dispositivos GPS</a>
                <a href="{%  url 'administrador:gpsdevices_create' %}" class="btn btn-success size16">Agregar Dispositivo GPS</a>
                <hr>
                <br>         
                <div class="row mt-3 mb-5">
                    <div class="col-md-9 mx-auto"> 
                        <form id="chofer_detail_form" data-h="{% if request.user.role.alias_rol == 'super' %}tower{% else %}player{% endif %}">
                            <div class="position-relative form-group">
                                <label for="cliente" class="">Cliente</label>
                                <input name="cliente" id="cliente" type="text" class="form-control" readonly value="{{ object.cliente|default_if_none:'Sin Asignar' }}">
                            </div>
                            <div class="position-relative form-group">
                                <label for="deviceid" class="">GPS's ID</label>
                                <input name="deviceid" id="deviceid" type="text" class="form-control" readonly value="{{ object.deviceid }}">
                            </div>
                            <div class="position-relative form-group">
                                <label for="devicename" class="">Nombre Completo</label>
                                <input name="devicename" id="devicename" type="text" class="form-control" readonly value="{{ object.devicename }}">
                            </div>
                            <div class="position-relative form-group">
                                <label for="deviceesn" class="">ESN</label>
                                <input nombre="deviceesn" id="deviceesn" type="text" class="form-control" readonly value="{{ object.deviceesn }}">
                            </div>
                            <div class="position-relative form-check" style="position: relative; margin-bottom: 10px;">
                                <label class="form-check-label">
                                    <input type="checkbox" name="asignado" id="asignado" class="form-check-input freeze" {% if object.asignado == True %} checked {% endif %}> Asignado
                                </label>
                            </div>            
                            <div class="position-relative form-check" style="position: relative; margin-bottom: 10px;">
                                <label class="form-check-label">
                                    <input type="checkbox" name="activo" id="activo" class="form-check-input freeze" {% if object.activo == True %} checked {% endif %}> Activo
                                </label>
                            </div>            
                        </form>   
                    </div>
                </div>                
            </div>  
        </div>
    </div> 
</div> 


{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}

<script>
    jQuery(document).ready(function() {
        $(".freeze").bind("click", false);
    });
</script>
<!-- Ends to include JS list -->
{% endblock js %}