{% extends 'core/bases/base_pages.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        #barChart{
            background-color: white;
            border-radius: 6px;
          }          
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">                
                <i class="fa fa-user-circle size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>Listado de Usuarios &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Clientes
                <div class="admin-page-title-subheading">
                    Crear Perfil de Cliente                 
                </div>
            </div>
        </div> 
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <nav class="" aria-label="admin breadcrumb">
                        <ol class="admin breadcrumb pull-right">
                            <li class="breadcrumb-item">
                                <a>
                                    <i aria-hidden="true" class="fa fa-home"></i>
                                </a>
                            </li>
                           <li class="breadcrumb-item">
                                <a> Perfiles de Usuario</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a> Clientes</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                                Crear Perfil de Cliente Carta Porte
                            </li>
                        </ol>
                    </nav>              
                </div>
            </div>        
        </div>        
    </div>
</div>

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    Registro de Cliente
                </div>                                                        
            </div>
            <div class="card-body">     
                {% if  messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                <div class="row mt-3 mb-5">
                    <div class="col-md-9 mx-auto"> 
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}                
                            {{ form.as_p }}                
                            <div class="text-left">
                                <input type="submit" class="btn-transition btn btn-primary size16" value="Crear cliente de carta porte" />
                            </div>
                        </form>   
                    </div>
                </div>
                <br><br>                
            </div>  
        </div>
    </div> 
</div> 


{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}

<script>
    jQuery(document).ready(function() {
        // No hay nada que ejecutar
    });
</script>
<!-- Ends to include JS list -->
{% endblock js %}
