{% extends 'administrador/bases/base_admin.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        #barChart{
            background-color: white;
            border-radius: 6px;
          }          
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fas fa-chart-bar size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>ROAD MAP &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Resultados de Road Map
                <div class="admin-page-title-subheading">
                   Porcentajes de Road Map
                </div>
            </div>
        </div> 
        <div class="page-title-actions" style="min-width: 580px;">

            <div class="input-group">                
              
              <select id="cliente" name="cliente" class="form-control mostrar selector clienteSel" style="min-width: 144px;" data-validation="required">
              {% for cliente in clientes.all %}                                                   
                      <option value="{{ cliente.id }}">{{ cliente }}</option>
              {% endfor %}
              </select>            
              &emsp;
              <select name="planta" id="planta" style="width: 96px;" class="form-control mostrar selector" data-validation="required">
                <option value="">-- Unidad de Negocio (todas) --</option>
                {% for planta in plantas %}
                    <option value="{{ planta.id }}" data-cliente-id="{{ planta.cliente_id }}" >{{ planta }}</option>
                {% endfor %}
              </select>
              &emsp;
              <button id="aplicar" class="btn btn-primary">APLICAR</button>                  
              &emsp;            
  
            </div>   
        </div> 
        <div class="page-title-actions escondido">
            <nav class="" aria-label="admin breadcrumb">
                <ol class="admin breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a>
                            <i aria-hidden="true" class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a> Análisis de Riesgo</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'administrador:admin_resultados_analisis_riesgo' %}"> Resultados de Road Map</a>
                    </li>
                    <li class="active breadcrumb-item" aria-current="page">
                        Porcentajes de Road Map
                    </li>
                </ol>
            </nav>     
        </div> <!-- Page title actions -->

    </div> <!-- Page Title Wrapper -->
</div>  <!-- app page title -->

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card">            
            <div class="card-body text-center">                                                                     
                <img class="img-fluid" src="{% static 'core/assets/images/areas_analisis_riesgo.jpg' %}" alt="">                
            </div>  
        </div>
    </div> 
</div> 

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card" style="background-color: #fbfbfb;">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    RESULTADO GENERAL EN LAS SIGUIENTES CATEGORÍAS sdfsdf
                </div>                                                        
            </div>
            <div class="card-body">     
                {% if  messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div id="barChartResultadoGralVulnerabilidad"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div id="barChartPorcentajePorArea"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <select id="cat-selector" class="form-control selector">
                            <option value="entorno">Entorno</option>
                            <option value="infraestructura">Infraestructura</option>
                            <option value="seguridad_operativa">Seguridad Operativa</option>
                            <option value="seguridad_electronica">Seguridad Electronica</option>
                            <option value="logistica">Logística</option>
                        </select>
                        <div id="barChartResultArea"></div>
                    </div>
                </div>
                <br><br>                                
            </div>  
        </div>
    </div> 
</div> 

<div class="row" >        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">                                            
                    <i class="cardhead fas fa-chevron-right" aria-hidden="true"></i>
                    Tema
                </div>                                                        
            </div>
            <div class="card-body">               
            
                <!--  Data Table Start -->
                <div id="table-container"></div>
                <!-- Data Table End --> 
                <br><br>   
            </div>  
        </div>
    </div> 
</div> 



{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}
<script>
    jQuery(document).ready(function() {

        jQuery("#cliente").on('change', function (e) {
            updatePlantaSelector(this);
        });

        updatePlantaSelector(document.getElementById("cliente"));

        function updatePlantaSelector(selector){
            var optionSelected = $("option:selected", selector);
            var valueSelected = selector.value;

            console.log("Cliente seleccionado", valueSelected)
            $("#planta option[data-cliente-id!=" + valueSelected + "]").hide();
            $("#planta option[data-cliente-id!=" + valueSelected + "]").addClass('hidden');
            $("#planta option[data-cliente-id!=" + valueSelected + "]").removeClass('visible');
            $("#planta option[data-cliente-id=" + valueSelected + "]").show();
            $("#planta option[data-cliente-id=" + valueSelected + "]").addClass('visible');
            $("#planta option[data-cliente-id=" + valueSelected + "]").removeClass('hidden');

            $("#planta option[value='']").show()
            $("#planta option[value='']").addClass('visible')
            $("#planta option[value='']").removeClass('hidden')

            $('#planta').val('');

        }


       

        $("#aplicar").on('click', function(){
            cliente = document.getElementById("cliente").value;
            planta = document.getElementById("planta").value;
            console.log('aplicar', "cliente: "+cliente+", planta: "+planta)
            loadAjax(cliente, planta)
        })

        var catEntornoAvg = new Array()
        var catInfraAvg = new Array()
        var catSegopAvg = new Array()
        var catSegelecAvg = new Array()
        var catLogisticaAvg = new Array()

        jQuery("#cat-selector").on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;

            //console.log("selected", valueSelected);
            if(valueSelected == "entorno"){
                //console.log("Entorno_avg", catEntornoAvg);
                graficarecuestas(catEntornoAvg);
            }else if(valueSelected == "infraestructura"){
                //console.log("Infra_avg", catInfraAvg)
                graficarecuestas(catInfraAvg);
            }else if(valueSelected == "seguridad_operativa"){
                graficarecuestas(catSegopAvg);
            }else if(valueSelected == "seguridad_electronica"){
                graficarecuestas(catSegelecAvg);
            }else if(valueSelected == "logistica"){
                graficarecuestas(catLogisticaAvg);
            }

        });

        function graficarecuestas(catArray){

            var values = new Array()
            var labels = new Array()

            for (var i = 0; i<catArray.length; i++){
                var item = catArray[i]

                values.push(item["avg"].toFixed(2))
                labels.push(item["nombre"])
            }

            document.getElementById('barChartResultArea').innerHTML = '';

            if(labels.length == 0 ){
                var options = {
                    series: [{
                            name: 'Porcentajes vulnerabilidad',
                            data: values,
                        }],
                        chart: {
                            type: 'bar',
                            height: 450
                        },
                        legend: {
                            position: 'bottom'
                        },
                        plotOptions: {
                            bar: {
                              horizontal: true,
                              columnWidth: '65%',
                              distributed: true
                            },
                        },
                }
                var chartV = new ApexCharts(document.querySelector("#barChartResultArea"), options);
                chartV.render();
                return;
            }

            var options = {
                        series: [{
                            name: 'Porcentajes vulnerabilidad',
                            data: values,
                        }],
                        chart: {
                            type: 'bar',
                            height: 450
                        },
                        labels: labels,
                        legend: {
                            position: 'bottom'
                        },
                        plotOptions: {
                            bar: {
                              horizontal: true,
                              columnWidth: '65%',
                              distributed: true
                            },
                        },
                        
                    }

            
            var chartV = new ApexCharts(document.querySelector("#barChartResultArea"), options);
            chartV.render();

        }


        function loadAjax(cliente, planta){

            $.ajax({
                url:  '{% url "administrador:ajax_roadmap_papeletas" %}',
                data: { 'cliente_id': cliente, 'planta_id': planta},
                type: 'GET',
                success: function (result) {
                    console.log("result cuestionarios", result)
                    $("#table-container").html(result);
                }
            });

            $.ajax({
                url:  '{% url "administrador:ajax_analisis_de_riesgo_vulnerabilidadgral" %}',
                data: { 'cliente_id': cliente, 'planta_id': planta},
                datatype: 'json',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    console.log("result vulnerabilidad", result)
                    //mArray = JSON.parse(result);
                    var labelsVul = ["Entorno", "Infraestructura", "Seguridad Operativa", "Seguridad Electrónica", "Logistica"];
                    var valVul = [result["v_entorno"].toFixed(2), result["v_infraestructura"].toFixed(2), result["v_seguridad_operativa"].toFixed(2), result["v_seguridad_electronica"].toFixed(2), result["v_logistica"].toFixed(2)];
                    console.log("valores Gral", valVul)

                    var vulGral = (result["v_entorno"]+result["v_infraestructura"]+result["v_seguridad_operativa"]+result["v_seguridad_electronica"]+result["v_logistica"])/5;
                    console.log("vulGral", vulGral)

                    catEntornoAvg = result["cat_entorno_avg"]
                    console.log("Entorno_avg", catEntornoAvg)
                    catInfraAvg = result["cat_infraestructura_avg"]
                    console.log("Infra_avg", catInfraAvg)
                    catSegopAvg = result["cat_seg_operativa_avg"]
                    console.log("Segop_avg", catSegopAvg)
                    catSegelecAvg = result["cat_seg_electrica_avg"]
                    console.log("Segelec_avg", catSegelecAvg)
                    catLogisticaAvg = result["cat_logistica_avg"]
                    console.log("Logistica_avg", catLogisticaAvg)


                    var optionsVulGral = {
                        title: {
                          text: 'Vulnerabilidad General',
                          align: 'left'
                        },
                        series: [{
                            name: 'Vulnerabilidad General',
                            data: [100-vulGral.toFixed(2), vulGral.toFixed(2)],

                        }],
                        chart: {
                            type: 'bar',
                            height: 450
                        },
                        colors: ['#8A63D8','#999'],
                        labels: ["Seguridad", "Vulnerabilidad"],
                        legend: {
                            position: 'bottom'
                        },
                        plotOptions: {
                            bar: {
                              horizontal: false,
                              columnWidth: '65%',
                              distributed: true
                            },
                        },
                        
                    }
                    
                    document.getElementById('barChartResultadoGralVulnerabilidad').innerHTML = '';
                    var chartVulGral = new ApexCharts(document.querySelector("#barChartResultadoGralVulnerabilidad"), optionsVulGral);
                    chartVulGral.render();


                    var optionsVulAreas = {
                        title: {
                          text: 'Porcentaje por área',
                        },
                        series: [{
                            name: 'Porcentajes vulnerabilidad',
                            data: valVul,

                        }],
                        chart: {
                            type: 'bar',
                            height: 450
                        },
                        colors: [
                            '#8A63D8',
                            '#ACD7F9',
                            '#A4CD43',
                            '#F2E700',
                            '#FF955B'
                        ],
                        labels: labelsVul,
                        legend: {
                            position: 'bottom'
                        },
                        plotOptions: {
                            bar: {
                              horizontal: false,
                              columnWidth: '65%',
                              distributed: true
                            },
                        },
                        
                    }

                    document.getElementById('barChartPorcentajePorArea').innerHTML = '';
                    var chartVulAreas = new ApexCharts(document.querySelector("#barChartPorcentajePorArea"), optionsVulAreas);
                    chartVulAreas.render();


                    graficarecuestas(catEntornoAvg)
                   
                    
                }

            });  // Fin de Ajax

            

        }

        cliente = document.getElementById("cliente").value;
        planta = document.getElementById("planta").value;
        console.log('aplicar', "cliente: "+cliente+", planta: "+planta)
        loadAjax(cliente, planta)

    });
</script>
<!-- Ends to include JS list -->
{% endblock js %}