{% extends 'administrador/bases/base_admin.html' %}

{% block 'seo_header' %}
    <title>Panoptic |  Expertos en seguridad privada industrial, comercial y personal</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock %}

{% block css %}
    <!-- Starts to include CSS list -->
    {% for css in css_list %}
        {% include 'core/includes/css/'|add:css|add:'.htm' %}
    {% endfor %}
    <!-- Ends to include CSS list -->    
    {% load static %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
        }        
    </style>    
    <link rel="stylesheet" href="{% static 'core/assets/css/mapsinfoscroll.css' %}">
{% endblock css %}-*

{% block 'content' %}
<div class="app-page-title">    
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="mini-logo-panoptic">
                <i class="fas fa-truck-loading size128 soundblue" aria-hidden="true"></i>                                   
            </div>
            <div>Grafica de Movimientos &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; Grafica de Movimientos
                <div class="admin-page-title-subheading">
                    Grafica de Movimientos
                </div>
            </div>
        </div> 
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <nav class="" aria-label="admin breadcrumb">
                        <ol class="admin breadcrumb pull-right">
                            <li class="breadcrumb-item">
                                <a>
                                    <i aria-hidden="true" class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a> D & D Management</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a> Tipo de Movimientos</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                                Listado Tipo de Movimientos
                            </li>
                        </ol>
                    </nav>              
                </div>
            </div>        
        </div>        
    </div>
</div>                                

<div class="tabs-animation">   

    <div class="row" >        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
            <div class="mb-3 card">
                <div class="card-header-tab card-header-tab-animation card-header">
                    <div class="card-header-title">                                            
                        <i class="cardhead fas fa-chart-bar" aria-hidden="true"></i>
                        Todos los movimientos
                    </div>                                                        
                </div>
                <div class="card-body">     
                    {% if  messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}                                               
                    
                    <input name="dates" class="form-control" />
                    <br><br>
    				<canvas id="chart-canvas"></canvas>       
                    
                </div>  
            </div>
        </div> 
    </div> 

</div>                    
{% endblock %}

{% block js %}
<!-- Starts to include JS list -->
{% for js in js_list %}
    {% include 'core/includes/js/'|add:js|add:'.htm' %}
{% endfor %}
<script>
    jQuery(document).ready(function() {
        jQuery('#tblmovimientos').DataTable({       
            "order": [[ 1, "desc" ]],
            "pageLength":  10,    
           "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
           }
        });

        //import "./styles.css";
const START_DATE = "01/01/2020";
const END_DATE = "12/31/2020";

$('input[name="dates"]').daterangepicker(
  {
    startDate: START_DATE,
    endDate: END_DATE
  },
  function(start, end) {
  	console.log(start + " - " + end);
    drawChart(start, end);
  }
);
/*const cubejsApi = cubejs(
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.e30.K9PiJkjegbhnw4Ca5pPlkTmZihoOm42w8bja9Qs2qJg",
  { apiUrl: "https://cubejs-ecom.herokuapp.com/cubejs-api/v1" }
);*/

// A helper method to format data for Chart.js
// and add some nice colors
var chartJsData = function(resultSet) {
  return {
    datasets: [
      {
        label: 'Movimientos',
          backgroundColor: '#83131a',
          borderColor: '#83131a',
          data: [
            31,
            16,
            22,
            25,
            21,
            22,
            24,
            22,
            14,
            22,
            15,
            17,
            18,
            24,
            17,
            22,
            15,
            30,
            17,
            29,
            18,
            17,
            25,
            21,
            22,
            26,
            18,
            14,
            23,
            26,
            0
          ],
          fill: false, 
      }
    ],
    labels: [
              '2020-04-01T00:00:00.000',
              '2020-04-02T00:00:00.000',
              '2020-04-03T00:00:00.000',
              '2020-04-04T00:00:00.000',
              '2020-04-05T00:00:00.000',
              '2020-04-06T00:00:00.000',
              '2020-04-07T00:00:00.000',
              '2020-04-08T00:00:00.000',
              '2020-04-09T00:00:00.000',
              '2020-04-10T00:00:00.000',
              '2020-04-11T00:00:00.000',
              '2020-04-12T00:00:00.000',
              '2020-04-13T00:00:00.000',
              '2020-04-14T00:00:00.000',
              '2020-04-15T00:00:00.000',
              '2020-04-16T00:00:00.000',
              '2020-04-17T00:00:00.000',
              '2020-04-18T00:00:00.000',
              '2020-04-19T00:00:00.000',
              '2020-04-20T00:00:00.000',
              '2020-04-21T00:00:00.000',
              '2020-04-22T00:00:00.000',
              '2020-04-23T00:00:00.000',
              '2020-04-24T00:00:00.000',
              '2020-04-25T00:00:00.000',
              '2020-04-26T00:00:00.000',
              '2020-04-27T00:00:00.000',
              '2020-04-28T00:00:00.000',
              '2020-04-29T00:00:00.000',
              '2020-04-30T00:00:00.000',              
              '2020-05-01T00:00:00.000',
    ],
  };
};
var options = {
  scales: {
    xAxes: [
      {
        type: "time",
        time: {
          displayFormats: {
            hour: "MMM DD"
          },
          tooltipFormat: "MMM D"
        }
      }
    ],
    yAxes: [
      {
        ticks: {
          beginAtZero: true
        }
      }
    ]
  }
};



var drawChart = function(startDate, endDate) {
  
      
      var data = chartJsData();
      if (window.chart) {
        window.chart.data = data;
        window.chart.update();
      } else {
        window.chart = new Chart(document.getElementById("chart-canvas"), {
          type: "line",
          options: options,
          data: data
        });
      }
  
};

drawChart(START_DATE, END_DATE);

    });
</script>
<!-- Ends to include JS list -->
{% endblock js %}