{% extends 'core/bases/base_login.html' %}{% load static %}

{% block seo-header %}
    <!-- SEO data content     -->
    <title>Sistema Panoptic - Inicio de Sesion</title>
    <meta http-equiv="Content-Language" content="es-MX">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Monitoreo Inteligente en seguridad privada para empresas y unidades de negocio">
{% endblock seo-header %}
